{
  "mcp.servers": {
    "neon-database": {
      "command": "npx",
      "args": ["@modelcontextprotocol/server-postgres"],
      "env": {
        "POSTGRES_CONNECTION_STRING": "postgres://neondb_owner:npg_OPjy3GYfl0HU@ep-wandering-snowflake-acupessu-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require"
      }
    },
    "locaweb-database": {
      "command": "npx",
      "args": ["@modelcontextprotocol/server-postgres"],
      "env": {
        "POSTGRES_CONNECTION_STRING": "postgresql://sigmadb:H%24kfCR!2U5@sigmadb.postgresql.dbaas.com.br:5432/sigmadb"
      }
    }
  },
  "mcp.enable": true,
  "typescript.preferences.quoteStyle": "single",
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": "explicit"
  }
}
